<article class="list-group-item" ng-class="{selected: model.isExpanded}">
  <img class="pull-left img-thumbnail" ng-src="{{model.authorImg}}" hd-profile-summary="model.authorId">
  <div class="data" ng-click="commentClick()">
    <strong hd-profile-summary="model.authorId">{{model.author}}</strong>
    <span am-time-ago="model.publishDate" class="pull-right timestamp"></span>
    <p>{{model.content}}</p>
    <div class="row image-container" ng-show="model.image" ng-class="{'small': !model.isExpanded}">
      <img ng-src="{{model.image}}" class="img-thumbnail comment-image"/>
    </div>
    <span class="location"> {{model.location}}</span>
    <div class="actions" ng-class="{'inline': model.location}">
      <a href="#">
        <span class="glyphicon glyphicon-share-alt"></span> Reply
      </a>
      <a ng-hide="model.authorId === userId || model.isShared" hd-share-hirundo="model">
        <span class="glyphicon glyphicon-retweet"></span> Share
      </a>
      <span ng-show="model.isShared" style="color: #609928;">
        <span class="glyphicon glyphicon-retweet"></span> Shared
      </span>
      <a ng-show="model.authorId === userId" hd-delete-hirundo="model">
        <span class="glyphicon glyphicon-trash"></span> Delete
      </a>
      <a ng-hide="model.isFavorited" hd-favorite-hirundo="model">
        <span class="glyphicon glyphicon-star"></span> Favorite
      </a>
      <span ng-show="model.isFavorited" style="color: #ff9b00;">
        <span class="glyphicon glyphicon-star"></span> Favorited
      </span>
    </div>
    <div ng-show="model.isExpanded">
      <div class="list-group details" style="margin-bottom:8px;">
        <a class="list-group-item inline-item" ng-show="model.sharings" hd-show-sharings="model">
          <strong class="list-group-item-heading">{{model.sharings | number: 0}}</strong><br>
          <span class="list-group-item-text">SHARINGS</span>
        </a>
        <a class="list-group-item inline-item" ng-show="model.favorites" hd-show-favorites="model">
          <strong class="list-group-item-heading">{{model.favorites | number: 0}}</strong><br>
          <span class="list-group-item-text">FAVORITES</span>
        </a>
      </div>
      <span class="date">{{model.publishDate | date:'h:mma - dd MMM yyyy'}}</span> · <a class="details" ui-sref="hirundo({ id: model.commentId })">Details</a>
    </div>
  </div>
  <div class="replies" ng-show="model.isExpanded">
    <div class="reply">
      <img ng-src="{{userImg}}" class="img-thumbnail">
      <hd-hirundo send="sendReply(hirundo)" rows="5" placeholder="Reply to {{model.author}}..." style="width:85%;display:inline-block;"></hd-hirundo>
    </div>
    <div class="reply" ng-repeat="reply in model.replies">
      <img class="pull-left img-thumbnail" hd-profile-summary="reply.authorId" ng-src="{{reply.authorImg}}">
      <div class="reply-data">
        <strong>{{reply.author}}</strong>
        <span am-time-ago="reply.publishDate" class="pull-right timestamp"></span>
        <p>{{reply.content}}</p>
        <span class="location"> {{reply.location}}</span>
      </div>
    </div>
  </div>
</article>