<article class="list-group-item" ng-class="{selected: model.isExpanded}">
  <img class="pull-left img-thumbnail" ng-src="{{model.authorImg}}">
  <div class="data" ng-click="commentClick(model)">
    <strong>{{model.author}}</strong>
    <span am-time-ago="model.publishDate" class="pull-right timestamp"></span>
    <p>{{model.content}}</p>
    <div class="actions">
      <a href="#"><span class="glyphicon glyphicon-share-alt"></span> Reply</a>
      <a ng-hide="model.authorId === userId || model.isRetweeted" ng-click="retweetComment(model);$event.stopPropagation()"><span class="glyphicon glyphicon-retweet"></span> Retweet</a>
      <span ng-show="model.isRetweeted" style="color: #609928;"><span class="glyphicon glyphicon-retweet"></span> Retweeted</span>
      <a href="#" ng-show="model.authorId === userId"><span class="glyphicon glyphicon-trash"></span> Delete</a>
      <a href="#"><span class="glyphicon glyphicon-star"></span> Favorite</a>
    </div>
    <div ng-show="model.isExpanded">
      <div class="list-group details" style="margin-bottom:8px;">
        <a href="#" class="list-group-item inline-item" ng-show="model.retweets">
          <strong class="list-group-item-heading">{{model.retweets | number: 0}}</strong><br>
          <span class="list-group-item-text">RETWEETS</span>
        </a>
        <a href="#" class="list-group-item inline-item" ng-show="model.favorites">
          <strong class="list-group-item-heading">{{model.favorites | number: 0}}</strong><br>
          <span class="list-group-item-text">FAVORITES</span>
        </a>
      </div>
      <span class="date">{{model.publishDate | date:'h:mma - dd MMM yyyy'}}</span> · <a class="details" href="#">Details</a>
    </div>
  </div>
  <div class="replies" ng-show="model.isExpanded">
    <div class="reply">
      <img ng-src="{{userImg}}" class="img-thumbnail">
      <hd-hirundo model="model.newReply" send="sendReply(model)" rows="5" placeholder="Reply to {{model.author}}..." style="width:85%;display:inline-block;"></hd-hirundo>
    </div>
    <div class="reply" ng-repeat="reply in model.replies" style="margin: 0px;background-color:#F8ECEC;">
      <img class="pull-left img-thumbnail" ng-src="{{reply.authorImg}}">
      <div class="reply-data">
        <strong>{{reply.author}}</strong>
        <span am-time-ago="reply.publishDate" class="pull-right timestamp"></span>
        <p>{{reply.content}}</p>
      </div>
    </div>
  </div>
</article>