body
{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image:url('/app/img/background.jpg');
}

/*upload*/
div.upload {
    position: relative;
    display: inline-block;
}

div.upload > input {
    position: absolute;
    top: 0px;
    width: 100px;
    opacity: 0;
}

/*has-error*/
.has-error span {
    color: #b94a48;
}

/*following*/
button.following:focus, button.following:hover {
    background-image: linear-gradient(#ee5f5b,#c43c35);
    border-color: #a93730;
    border-bottom-color: #952f2a;
}

/*modal*/
.modal-footer, .modal-body {
    padding: 10px;
}

.modal-header {
    background-image: -webkit-linear-gradient(top,#f5f5f5 0,#ececec 100%);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 8px;
    text-align: center;
}

.modal-header h4 {
    font-family: Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    color: #555;
    text-shadow: 0 1px 0 #fff;
    margin: 0px;
}

.modal-footer {
    margin-top: 0px;
}

.comment, .users .modal-body {
    min-height: 50px;
}

.comment img, .users .modal-body img {
    height: 50px;
    margin-right: 10px
}

.comment .timestamp, .users .modal-body .timestamp {
    font-size:12px;
    color: #999;
}

.users .modal-footer .list-group {
    max-height: 296px;
    overflow-y: scroll;
    margin-bottom: 0px;
}

.users .modal-footer .list-group-item {
    min-height: 60px;
}

.users .modal-footer .data {
    text-align: left;
    margin-left: 10px;
}

.users .modal-footer .data > span{
    color: #999;
    font-size: 12px;
}

.users .modal-footer img {
    height: 40px;
}

.comment-modal > * {
    width: 450px;
}

.users-modal > *, .user-modal > * {
    width: 400px;
}

.user .modal-body {
    padding: 0px;
}

.user .modal-body .data {
    padding: 10px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
    font-family: Arial,sans-serif;
    color: #fff;
    background-color: #161515;
}

.user .modal-body .data > * {
    display: block;
}

.user .modal-body .data img {
    height: 70px;
    margin: 0 auto;
}

.user .modal-body h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 2px;
}

.user .modal-body h2 {
    font-size: 18px;
    margin: 2px;
}

.user .modal-body .list-group {
    display: inline-block;
    margin: 0px;
}

.user .modal-body .details {
    margin-bottom: -1px;
}

.user .modal-body .details .list-group-item {
    padding: 5px 10px 5px 10px;
    border-radius: 0px;
}

.user .modal-body .details strong {
    color: #333;
    font-size: 14px;
}

.user .modal-body .details button {
    margin: 8px;
}

.user .modal-body .user-comment {
    padding: 10px;
    border-top: 1px solid #e8e8e8;
}

.user .modal-body .user-comment img {
    height: 35px;
    margin-right: 5px;
}

.user .modal-body .user-comment .comment-data {
    font-size: 12px;
}

.user .modal-body .user-comment .timestamp {
    color: #999;
}

/*containers*/
.container-min, .container-medium, .container-xs {
    margin: 0 auto;
}

.container-xs {
    width: 400px;
    padding-top: 50px;
}

.container-medium.page-content {
    padding: 10px;
}

@media (min-width: 600px) {
    .container-min {
        width: 570px;
        padding-top: 50px;
    }
}

@media (min-width: 768px) {
    .container-medium {
        width: 740px;
    }
}

/*errors*/
.error {
     color: red;
     margin-bottom: 10px;
}

/*menu*/
.menu a {
    cursor: pointer; 
}

.menu a:hover, .menu.a:focus {
    background-color: #FAF4F4;
}

.menu a.active, .menu a.active:hover, .menu a.active:focus {
    background-image: linear-gradient(rgb(252, 251, 244), rgba(253, 180, 139, 0.91));
    border-color: rgb(233, 217, 202);
    color: black;
}

/*loaders*/
img.loader {
    margin-left:auto;
    margin-right:auto;
    display:block;
}

/*hirundo form*/
form.hirundo textarea {
    max-width: 100%;
}

/*sign-in*/
.sign-in h1 {
    font-size:63px;
    font-family:serif;
}

.sign-in p {
    font-size:21px;
}

.sign-in form {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 10px;
    border-radius: 4px;
}

.sign-in form input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.sign-in form input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.sign-in form div.buttons {
    height: 34px;
}

.sign-in form div.buttons > a{
    vertical-align: -webkit-baseline-middle;
}

/*sign-up*/
.sign-up {
    margin-top: 50px;
}


.sign-up h1 {
    font-size:63px;
    font-family:serif;
}

.sign-up form {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 10px;
    border-radius: 4px;
}

.sign-up form .control-label {
    padding-right: 0px;
}

.sign-up form .buttons {
    text-align: right;
}

.sign-up form .buttons > button {
    color: rgb(51, 51, 51);
    font-weight: bold;
    font-size: 13px;
    background-image: linear-gradient(rgb(255, 236, 70), rgb(255, 170, 34));
    border-color: rgb(253, 157, 0);
}

.sign-up form .buttons > button:hover, .sign-up form .buttons > button:focus {
    background-image: linear-gradient(rgb(255, 236, 70), rgb(240, 150, 0));
}


/*forgotten-pass*/
.forgotten-pass form {
     background-color: rgba(0, 0, 0, 0.05);
     border-radius: 0px 0px 4px 4px;
}

.forgotten-pass h1 {
    font-family: Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    color: #555;
    text-shadow: 0 1px 0 #fff;
    text-align: center;
    margin: 0px;
    padding: 7px;
    border-radius: 4px 4px 0px 0px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
}

.forgotten-pass .buttons {
    text-align: right;
}

/*navbar*/
.navbar-brand {
    padding: 0px;
    height:35px;
    margin-top:6px;
    position: fixed;
}

@media (max-width: 767px) {
    .navbar-brand {
        margin-left: 20px;
    }
}

.nav li > a.dropdown-toggle {
    padding-left: 0px;
    margin-left: 0px;
}

.nav li.dropdown > a:first-child {
    margin-right: -4px;
    padding-right: 5px;
}

.nav ul.dropdown-menu {
    background-color: #333333;
}

.nav ul.dropdown-menu a {
    color: #999999;
}

.nav ul.dropdown-menu a:hover, .nav ul.dropdown-menu a:focus {
    color: #ffffff;
    background-color: #333333;
}

.nav li.dropdown a {
    display: inline-block;
}

.navbar-right button {
    background-color: transparent;
    border-color: transparent;
    padding: 0px;
    color: #999999;
    margin-top: 9px;
}

.navbar-right button:hover, .navbar-right button:focus {
    background-color: transparent;
    border-color: transparent;
    color: #ffffff;
}

ul.navbar-nav {
    display: inline-block;
}

ul.navbar-nav ul {
    margin-left: -90px;
}

form.navbar-form {
    width: 210px;
    float: right;
    display: inline-block;
}

.navbar-right {
    display: block;
}

form.navbar-form:after, .navbar-right:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

form.navbar-form > div {
    height: 30px;
}

form.navbar-form input {
    background-color: #ccc;
    border-radius: 13px;
    border: 1px solid black;
}

form.navbar-form input:focus {
    background-color: #ffffff;
}

form.navbar-form button {
    background-color: transparent;
    border-color: transparent;
    position: relative;
    top: -27px;
    left: 150px;
    color: #6B6767;
}

form.navbar-form ul {
    background-color: #333333;
    border: 1px solid black;
    width: 250px;
}

form.navbar-form ul a {
    color: #ffffff;
    padding: 5px;
    cursor: pointer;
}

form.navbar-form ul > li.active > a, form.navbar-form ul > li.active > a:hover, form.navbar-form ul > li.active > a:focus {
    background-color: rgb(201, 161, 131);
}

form.navbar-form ul a > img {
    height: 40px;
    margin-right: 5px;
}

/*page*/
.page-view {
    padding-top: 25px;
    padding-bottom: 0px;
}

.page-content {
    background-color: rgba(0,0,0,0.05);
}

div.row {
    margin: 0px;
}

/*card*/
div.card {
    padding: 0px;
}

div.card a {
    padding: 10px;
}

@media (min-width: 768px) {
    div.list-group a.inline-item {
        display: inline-block;
    }

    div.list-group a.inline-item:not(:last-of-type) {
        margin-right: -5px;
    }
}

@media (max-width: 767px) {
    div.card a.inline-item h4 {
        display: inline;
    }
}

div.list-group a.inline-item {
    font-size: 11px;
    text-align: -webkit-center;
}

div.card a.inline-item:last-of-type {
    padding-right: 9px;
}

div.card a:hover, div.card a:focus {
    background-color: #FAF4F4;
}

div.card a > img {
    width: 35px;
    margin-right: 5px;
}

div.card a > .text {
    display: inline-block;
    vertical-align: middle;
}

div.card a > .text > small {
    display: block;
}

/*users-list*/
.users-list .title {
    background-color: #FFFEF9;
    border-bottom: 1px solid #dddddd;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: -1px;
    margin-top: 0px;
    padding: 5px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-weight: bold;
}

.users-list .list-group-item:first-child {
    border-radius: 0px;
}

.users-list .list-group-item {
    min-height: 75px;
}

.users-list .list-group-item img {
    height: 50px;
    margin-right: 10px
}

.users-list .list-group-item .data > span{
    color: #999;
    font-size: 12px;
}

.users-list .list-group-item button {
    margin: 10px 0px;
}

/*comments*/
.comments .list-group-item:first-child {
    border-radius: 0px;
}

.comments .list-group-item .data {
    cursor: pointer;
    margin-left: 60px;
}

.comments .list-group-item:hover, .comments .list-group-item:focus {
    background-color: #FAF4F4;
}

.comments .list-group-item:hover div.actions a, .comments .list-group-item.selected div.actions a {
    color: #999;
}

.comments .list-group-item.selected, .comments .list-group-item.selected:hover, .comments .list-group-item.selected:focus {
    background-color: #ffffff;
    margin-bottom: 10px;
    margin-top: 10px;
}

.comments .title {
    background-color: #FFFEF9;
    border-bottom: 1px solid #dddddd;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: -1px;
    margin-top: 0px;
    padding: 5px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-weight: bold;
}

.comments .list-group-item img {
    height: 50px;
    margin-right: 10px
}

.comments .list-group-item img.comment-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    margin-bottom: 10px;
}

.comments .list-group-item div.actions {
    text-align: right;
}

.comments .list-group-item div.actions.inline {
    display: inline-block;
    float: right;
}

.comments .list-group-item div.actions:after {
    content:'.';
    opacity: 0;
    display:block;
    clear: both;
    line-height: 0px;
}

.comments .list-group-item span.timestamp, .comments .list-group-item div.actions > * {
    font-size: 12px;
    margin-left: 8px;
}

.comments .list-group-item span.timestamp {
    color: #999;
}

.comments .list-group-item span.location {
    font-size: 12px;
    color: #999;
}

.comments .list-group-item div.actions a {
    color: #ddd;
}

.comments .list-group-item div.details > a {
    border-radius: 0px;
    padding: 4px;
    border: 1px solid #e8e8e8;
}

.comments .list-group a.inline-item:not(:last-of-type) {
    margin-right: -1px;
}

.comments .list-group-item .details, .comments .list-group-item .date {
    font-size:12px;
    color: #999;
}

.comments .list-group-item div.replies .reply {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    min-height: 50px;
    padding: 5px;
}

.comments .list-group-item div.replies .reply > img {
    height: 40px;
    vertical-align: top;
}

.comments .list-group-item div.replies .reply > .reply-data {
    margin-left: 50px;
}

/*user-card*/
.user-card .user-data {
    padding: 10px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
    font-family: Arial,sans-serif;
    color: #fff;
    background-image: url("https://abs.twimg.com/a/1388694029/t1/img/grey_header_web.jpg");
    border-radius: 4px 4px 0px 0px;
}

.user-card .user-data > * {
    display: block;
}

.user-card .user-data img {
    height: 70px;
    margin: 0 auto;
}

.user-card .user-data h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 2px;
}

.user-card .user-data h2 {
    font-size: 18px;
    margin: 2px;
}

.user-card .details {
    background-color: rgb(255, 255, 255);
    border-radius: 0px 0px 4px 4px;
    border: 1px solid #dddddd;
}

.user-card .details > * {
    display: inline-block;
}

.user-card .details .list-group {
    margin: -1px;
}

.user-card .details .list-group-item:first-child {
    border-radius: 0px 0px 0px 4px;
}

.user-card .details .list-group-item:last-child {
    border-radius: 0px;
}

.user-card .details button {
    margin: 10px;
}

/*comment-details*/
.comment-details {
    background-color: #fff;
    padding: 25px 50px;
    border-radius: 5px;
}

.comment-details .author-data {
    min-height: 60px;
}
.comment-details .author-data img {
    height: 60px;
    margin-right: 10px;
}

.comment-details .author-data img.comment-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 210px;
    margin-bottom: 10px;
}

.comment-details .author-data .author {
    font-size: 18px;
    font-family: Arial,sans-serif;
}

.comment-details .author-data p {
    font-size: 20px;
    line-height: 28px;
    font-family: Georgia,"Times New Roman",serif;
    margin: 10px 0px;
}

.comment-details .comment-data .actions {
    margin-top: 12px;
}

.comment-details .comment-data .actions > * {
    font-size: 13px;
    margin-right: 10px;
    color: #999;
}

.comment-details .comment-data .actions > a {
    cursor: pointer;
}

.comment-details .comment-data .list-group, .comment-details .comment-data .actions {
    display: inline-block;
}

.comment-details .comment-data .list-group .list-group-item {
    border-radius: 0px;
    padding: 7px 12px;
    cursor: pointer;
}

.comment-details .comment-data .list-group .list-group-item .list-group-item-heading {
    font-size: 14px;
}

.comment-details .comment-data .list-group .list-group-item .list-group-item-text {
    color: #999;
    font-size: 10px;
}

.comment-details .comment-data > span {
    color: #999;
    font-size: 12px;
    display: block;
}

.comment-details div.replies .reply {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    min-height: 50px;
    padding: 5px;
}

.comment-details div.replies .reply > img {
    height: 40px;
    vertical-align: top;
}

.comment-details div.replies .reply > .reply-data {
    margin-left: 50px;
}

.comment-details div.replies .reply > .reply-data .timestamp, .comment-details div.replies .reply > .reply-data .location {
    color: #999;
    font-size: 12px;
}

/*edit*/
.edit .panel > .panel-heading {
    border-bottom: 1px solid #e8e8e8;
    padding: 5px;
    color: #66757f;
}

.edit .panel > .panel-heading > h2 {
    margin: 0px;
    font-size: 22px;
    font-weight: 200;
}

.edit .panel > .panel-body .form-group p {
    color: #999;
    font-size: 12px;
}

.edit .panel > .panel-body .form-group span {
    margin-bottom: 10px;
}

.edit .panel > .panel-body .form-group label {
    font-size: 13px;
}