body
{
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*modal*/
.modal-footer, .modal-body {
    padding: 10px;
}

.modal-header {
    background-image: -webkit-linear-gradient(top,#f5f5f5 0,#ececec 100%);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 8px;
    text-align: center;
}

.modal-header h4 {
    font-family: Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    color: #555;
    text-shadow: 0 1px 0 #fff;
    margin: 0px;
}

.modal-footer {
    margin-top: 0px;
}

.comment, .users .modal-body {
    min-height: 50px;
}

.comment img, .users .modal-body img {
    height: 50px;
    margin-right: 10px
}

.comment .timestamp, .users .modal-body .timestamp {
    font-size:12px;
    color: #999;
}

.users .modal-footer .list-group {
    max-height: 296px;
    overflow-y: scroll;
    margin-bottom: 0px;
}

.users .modal-footer .list-group-item {
    min-height: 60px;
}

.users .modal-footer .data {
    text-align: left;
    margin-left: 10px;
}

.users .modal-footer .data > span{
    color: #999;
    font-size: 12px;
}

.users .modal-footer img {
    height: 40px;
}

.comment-modal > * {
    width: 450px;
}

.users-modal > *, .user-modal > * {
    width: 520px;
}

.user .modal-body {
    padding: 0px;
}

.user .modal-body .data {
    padding: 10px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
    font-family: Arial,sans-serif;
    color: #fff;
    background-color: #161515;
}

.user .modal-body .data > * {
    display: block;
}

.user .modal-body .data img {
    height: 70px;
    margin: 0 auto;
}

.user .modal-body h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 2px;
}

.user .modal-body h2 {
    font-size: 18px;
    margin: 2px;
}

.user .modal-body .list-group {
    display: inline-block;
    margin: 0px;
}

.user .modal-body .details {
    margin-bottom: -1px;
}

.user .modal-body .details .list-group-item {
    padding: 5px 10px 5px 10px;
    border-radius: 0px;
}

.user .modal-body .details strong {
    color: #333;
    font-size: 14px;
}

.user .modal-body .details button {
    margin: 8px;
}

.user .modal-body .user-comment {
    padding: 10px;
    border-top: 1px solid #e8e8e8;
}

.user .modal-body .user-comment img {
    height: 35px;
    margin-right: 5px;
}

.user .modal-body .user-comment .comment-data {
    font-size: 12px;
}

.user .modal-body .user-comment .timestamp {
    color: #999;
}

/*containers*/
.container-min, .container-medium {
    margin: 0 auto;
}

.container-medium.page-content {
    padding: 10px;
}

@media (min-width: 600px) {
    .container-min {
        width: 570px;
        padding-top: 50px;
    }
}

@media (min-width: 768px) {
    .container-medium {
        width: 740px;
    }
}

/*errors*/
.error {
     color: red;
     margin-bottom: 10px;
}

/*loaders*/
img.loader {
    margin-left:auto;
    margin-right:auto;
    display:block;
}

/*hirundo form*/
form.hirundo textarea {
    max-width: 100%;
}

/*sign-in*/
.sign-in h1 {
    font-size:63px;
    font-family:serif;
}

.sign-in p {
    font-size:21px;
}

.sign-in form {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 10px;
    border-radius: 4px;
}
.sign-in form input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.sign-in form input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.sign-in form div.buttons {
    text-align: center;
}

/*navbar*/
.nav li > a.dropdown-toggle {
    padding-left: 0px;
    margin-left: 0px;
}

.nav li.dropdown > a:first-child {
    margin-right: -4px;
    padding-right: 5px;
}

.nav ul.dropdown-menu {
    background-color: #333333;
}

.nav ul.dropdown-menu a {
    color: #999999;
}

.nav ul.dropdown-menu a:hover, .nav ul.dropdown-menu a:focus {
    color: #ffffff;
    background-color: #333333;
}

.nav li.dropdown a {
    display: inline-block;
}

.navbar-right button {
    background-color: transparent;
    border-color: transparent;
    padding: 0px;
    color: #999999;
    margin-top: 9px;
}

.navbar-right button:hover, .navbar-right button:focus {
    background-color: transparent;
    border-color: transparent;
    color: #ffffff;
}

form.navbar-form input {
    background-color: #ccc;
}

form.navbar-form input:focus {
    background-color: #ffffff;
}

form.navbar-form button {
    background-color: #999999;
}

@media (min-width: 768px) {
  form.navbar-form {
    width: 25%;
  }
}

/*page*/
.page-view {
    padding-top: 25px;
    padding-bottom: 0px;
}

.page-content {
    background-color: rgba(0,0,0,0.05);
}

div.row {
    margin: 0px;
}

/*card*/
div.card {
    padding: 0px;
}

div.card a {
    padding: 10px;
}

@media (min-width: 768px) {
    div.list-group a.inline-item {
        display: inline-block;
    }

    div.list-group a.inline-item:not(:last-of-type) {
        margin-right: -5px;
    }
}

@media (max-width: 768px) {
    div.card a.inline-item h4 {
        display: inline;
    }
}

div.list-group a.inline-item {
    font-size: 11px;
    text-align: -webkit-center;
}

div.card a.inline-item:last-of-type {
    padding-right: 9px;
}

div.card a:hover, div.card a:focus {
    background-color: #FAF4F4;
}

div.card a > img {
    width: 35px;
}

/*comments*/
.comments .list-group-item:first-child {
    border-radius: 0px;
}

.comments .list-group-item .data {
    cursor: pointer;
    margin-left: 60px;
}

.comments .list-group-item:hover, .comments .list-group-item:focus {
    background-color: #FAF4F4;
}

.comments .list-group-item:hover div.actions a, .comments .list-group-item.selected div.actions a {
    color: #999;
}

.comments .list-group-item.selected, .comments .list-group-item.selected:hover, .comments .list-group-item.selected:focus {
    background-color: #ffffff;
    margin-bottom: 10px;
    margin-top: 10px;
}

.comments .title {
    background-color: #FFFEF9;
    border-bottom: 1px solid #dddddd;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: -1px;
    margin-top: 0px;
    padding: 5px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-weight: bold;
}

.comments .list-group-item img {
    height: 50px;
    margin-right: 10px
}

.comments .list-group-item div.actions {
    text-align: right;
}

.comments .list-group-item span.timestamp, .comments .list-group-item div.actions > * {
    font-size: 12px;
    margin-left: 8px;
}

.comments .list-group-item span.timestamp {
    color: #999;
}

.comments .list-group-item div.actions a {
    color: #ddd;
}

.comments .list-group-item div.details > a {
    border-radius: 0px;
    padding: 4px;
    border: 1px solid #e8e8e8;
}

.comments .list-group a.inline-item:not(:last-of-type) {
    margin-right: -1px;
}

.comments .list-group-item .details, .comments .list-group-item .date {
    font-size:12px;
    color: #999;
}

.comments .list-group-item div.replies .reply {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    min-height: 50px;
    padding: 5px;
}

.comments .list-group-item div.replies .reply > img {
    height: 40px;
}

.comments .list-group-item div.replies .reply > .reply-data {
    margin-left: 50px;
}