<img src="/app/img/loading.gif" ng-hide="loaded" class="loader" style="width: 80px;">
<div class="container-min page-content" ng-show="loaded" style="padding:10px;">
  <section class="users-list" hd-when-scrolled="loadMore()" ng-show="users">
    <h4 class="title">Search results for "{{username}}"</h4>
    <div class="list-group">
      <article class="list-group-item" ng-repeat="user in users">
        <img class="pull-left img-thumbnail" ng-src="{{user.image}}" hd-profile-summary="user.userId">
        <div class="data pull-left">
          <strong hd-profile-summary="user.userId">{{user.fullname}}</strong>
          <span>{{user.username}}</span><br />
          <span>{{user.followersCount}} {{user.followersCount === 1 ? 'follower' : 'followers'}}</span>
        </div>
        <button class="btn btn-info btn-sm pull-right" ng-click="follow(user.userId)" ng-hide="user.userId === currentUser || user.isFollowed">Follow</button>
        <button class="btn btn-info btn-sm pull-right following" ng-click="unfollow(user.userId)" ng-mouseover="focused=true" ng-mouseleave="focused=false;" ng-show="user.isFollowed">
          <span ng-hide="focused">Following</span>
          <span ng-show="focused" style="padding:2.5px;">Unfollow</span>
        </button>
      </article>
      <img src="/app/img/initial-loader.gif" ng-show="pending" class="loader">
    </div>
  </section>
</div>