<img src="/app/img/loading.gif" ng-hide="loaded" class="loader" style="width: 80px;">
<div class="container-min page-content" ng-show="loaded" style="padding:10px;">
  <div class="comment-details">
    <div class="author-data">
      <img class="pull-left img-thumbnail" ng-src="{{comment.authorImg}}" hd-profile-summary="comment.authorId" />
      <strong class="author" hd-profile-summary="comment.authorId">{{comment.author}}</strong>
      <span ng-show="comment.authorId != comment.originalAuthorId" 
            class="author" hd-profile-summary="comment.originalAuthorId">
          via <strong class="author">{{comment.originalAuthor}}</strong>
      </span>
      <p>{{comment.content}}</p>
      <div class="row" ng-show="comment.image">
        <img ng-src="{{comment.image}}" class="img-thumbnail comment-image" />
      </div>
    </div>
    <div class="comment-data">
      <div class="list-group" style="margin-bottom:8px;">
        <a class="list-group-item inline-item" ng-show="comment.sharings" hd-show-sharings="comment">
          <strong class="list-group-item-heading">{{comment.sharings | number: 0}}</strong><br>
          <span class="list-group-item-text">SHARINGS</span>
        </a>
        <a class="list-group-item inline-item" ng-show="comment.favorites" hd-show-favorites="comment">
          <strong class="list-group-item-heading">{{comment.favorites | number: 0}}</strong><br>
          <span class="list-group-item-text">FAVORITES</span>
        </a>
      </div>
      <div class="actions pull-right">
        <a href="#">
          <span class="glyphicon glyphicon-share-alt"></span> Reply
        </a>
        <a ng-hide="comment.authorId === currentUserId || comment.isShared" hd-share-hirundo="comment">
          <span class="glyphicon glyphicon-retweet"></span> Share
        </a>
        <span ng-show="comment.isShared" style="color: #609928;">
          <span class="glyphicon glyphicon-retweet"></span> Shared
        </span>
        <a ng-show="comment.authorId === currentUserId" hd-delete-hirundo="comment">
          <span class="glyphicon glyphicon-trash"></span> Delete
        </a>
        <a ng-hide="comment.isFavorited" hd-favorite-hirundo="comment">
          <span class="glyphicon glyphicon-star"></span> Favorite
        </a>
        <span ng-show="comment.isFavorited" style="color: #ff9b00;">
          <span class="glyphicon glyphicon-star"></span> Favorited
        </span>
      </div>
      <span>{{comment.publishDate | date:'h:mma - dd MMM yyyy'}}</span>
      <span>{{comment.location}}</span>
    </div>
    <div class="replies">
      <div class="reply">
        <img ng-src="{{currentUserImage}}" class="img-thumbnail">
        <hd-hirundo send="sendReply(hirundo)" rows="5" placeholder="Reply to {{comment.author}}..." style="width:85%;display:inline-block;"></hd-hirundo>
      </div>
      <div hd-when-scrolled="loadMore()">
        <div class="reply" ng-repeat="reply in comment.replies">
          <img class="pull-left img-thumbnail" hd-profile-summary="reply.authorId" ng-src="{{reply.authorImg}}">
          <div class="reply-data">
            <strong>{{reply.author}}</strong>
            <span am-time-ago="reply.publishDate" class="pull-right timestamp"></span>
            <p>{{reply.content}}</p>
            <div class="row" ng-show="reply.image">
              <img ng-src="{{reply.image}}" class="img-thumbnail comment-image"/>
            </div>
            <span class="location"> {{reply.location}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>