<img src="/app/img/loading.gif" ng-hide="loaded" class="loader" style="width: 80px;">
<div class="container-medium page-content" ng-show="loaded">
  <div class="row">
    <div class="col-xs-4 list-group menu">
      <a ng-repeat="item in menu" class="list-group-item" ng-class="{active: item.isActive}" ng-click="activate(item)"><strong>{{item.name}}</strong></a>
    </div>
    <div class="col-xs-8 user-card">
       <div class="user-data">
         <img ng-src="{{user.image}}" class="img-thumbnail">
         <h1>{{user.fullname}}</h1>
         <h2>{{user.username}}</h2>
       </div>
       <div class="details">
         <div class="list-group">
           <a ui-sref="profile.hirundos" class="list-group-item inline-item">
             <strong class="list-group-item-heading">{{user.commentsCount | number:0}}</strong><br />HIRUNDOS
           </a>
           <a ui-sref="profile.following" class="list-group-item inline-item">
             <strong class="list-group-item-heading">{{user.followingCount | number:0}}</strong><br />FOLLOWING
           </a>
           <a ui-sref="profile.followers" class="list-group-item inline-item">
             <strong class="list-group-item-heading">{{user.followersCount | number:0}}</strong><br />FOLLOWERS
           </a>
        </div>
        <button class="btn btn-info btn-sm pull-right" ng-show="user.userId === currentUserId">Edit profile</button>
        <button class="btn btn-info btn-sm pull-right" ng-show="user.userId !== currentUserId && user.isFollowed">Following</button>
        <button class="btn btn-info btn-sm pull-right" ng-hide="user.userId === currentUserId || user.isFollowed">Follow</button>
       </div>
    </div>
  </div>
  <div class="row">
    <div style="margin-top: 15px;" ui-view="personView"></div>
  </div>
</div>