<!DOCTYPE html>
<html>
<head>
  <title>Hirundo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="/app/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
  <link href="/app/css/style.css" rel="stylesheet" />
</head>
<body background="/app/img/background.jpg">
  <div class="container-xs forgotten-pass">
    <h1>Forgot your password?</h1>
    <form action="@Url.Content("~/forgottenPassowrd?ReturnUrl=" + Url.Encode(Request.QueryString["ReturnUrl"]))" method="post" class="well-sm form-horizontal">
      <div class="form-group">
        <label class="col-sm-3 control-label">Email</label>
        <div class="col-sm-9">
          <input name="email" class="form-control" type="email">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Username</label>
        <div class="col-sm-9">
          <input name="username" class="form-control" type="text">
        </div>
      </div> 
      <div class="error @(ViewBag.ErrorMessage != null ? "" : "hide")">
        @ViewBag.ErrorMessage
      </div>
      <div class="buttons">
        <button type="submit" class="btn btn-info">Submit</button>
      </div>
    </form>
  </div>
</body>
</html>
