<form class="hirundo">
  <div class="row">
    <div class="form-group">
    <textarea class="form-control" placeholder="{{placeholder}}"
              ng-focus="fixed || focused(true)" ng-blur="fixed || focused(false)"
              ng-model="model"></textarea>
    </div>
  </div>
  <div class="row" ng-show="image">
    <div class="img-container">
      <img ng-src="{{image.url || null}}" class="img-thumbnail pull-left" />
      <button type="button" class="close" aria-hidden="true" ng-click="image = null">&times;</button>
    </div>
  </div>
  <div class="row" ng-hide="collapsed">
    <div class="form-group col-xs-6" style="padding-left: 0px;">
      <div class="upload">
        <button class="btn btn-default btn-sm"><span class="glyphicon glyphicon-camera"></span></button>
        <input type="file" name="file" accept="image/*" ng-model="model" image="image" resize-max-height="100" resize-max-width="100" resize-quality="0.7"/>
      </div>
      <button class="btn btn-default btn-sm" ng-click="findLocation()" ng-class="{active: location}"><span class="glyphicon glyphicon-map-marker"></span></button>
      <span>{{location}}</span>
    </div>
    <div class="form-group col-xs-6" style="padding-right: 0px;text-align:right">
      <span ng-class="{'error': model.length > 140}">{{140 - model.length}}</span>
      <button class="btn btn-info btn-sm" ng-disabled="!model || model.length > 140" ng-click="sendHirundo()">Send</button>
    </div>
  </div>
</form>