<div class="panel" ng-show="user">
  <div class="panel-heading">
    <h2>Password</h2>
    Change your password or recover your current one.
  </div>
  <div class="panel-body">
    <form class="form-horizontal" role="form"name="passForm">
      <div class="form-group" ng-class="{'has-error': saveClicked && passForm.currPassword.$invalid || passwordInvalid}">
        <label class="col-sm-4 control-label">Current password</label>
        <div class="col-sm-8">
          <input class="form-control" type="password" name="currPassword" ng-model="passwords.oldPassword" required>
          <span ng-show="saveClicked && passForm.currPassword.$invalid">Enter old password</span>
          <span>{{passwordInvalid}}</span>
        </div>
      </div>
      <div class="form-group" ng-class="{'has-error': saveClicked && passForm.newPassword.$invalid}">
        <label class="col-sm-4 control-label">New password</label>
        <div class="col-sm-8">
          <input class="form-control" type="password" name="newPassword" ng-model="passwords.newPassword" required ng-minlength="7" ng-pattern="/[^\s]/">
          <span ng-show="saveClicked && passForm.newPassword.$invalid">New password should be at least 7 chars long without any whitespaces</span>
        </div>
      </div>
      <div class="form-group" ng-class="{'has-error': saveClicked && passForm.newPassword.$valid && (passwords.newPassword !== passwords.verifyPassword)}">
        <label class="col-sm-4 control-label">Verify password</label>
        <div class="col-sm-8">
          <input class="form-control" type="password" name="verifyPassword" ng-model="passwords.verifyPassword">
          <span ng-show="saveClicked && passForm.newPassword.$valid && (passwords.newPassword !== passwords.verifyPassword)">Passwords doesn't match!</span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
          <button type="submit" ng-click="save()" class="btn btn-info">Save changes</button>
        </div>
      </div>
    </form>
  </div>
</div>