<div class="container-medium page-content">
  <div class="row">
    <div class="col-xs-4 list-group menu">
      <a class="list-group-item" ui-sref="settings.account" ui-sref-active="active"><strong>Account</strong></a>
      <a class="list-group-item" ui-sref="settings.password" ui-sref-active="active"><strong>Password</strong></a>
      <a class="list-group-item" ui-sref="settings.profile" ui-sref-active="active"><strong>Profile</strong></a>
    </div>
    <div class="col-xs-8 user-card">
      <div style="margin-top: 15px;" ui-view="settingsView"></div>
    </div>
  </div>
</div>