@model Hirundo.Web.Models.HomeModel

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hirundo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="version" content="1.0.0#000000">

  <link href="/app/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  <link href="/app/css/style.css" rel="stylesheet">
</head>
<body id="ng-app" ng-app="app" background="/app/img/background.jpg">
  <noscript>
    <h2 style="text-align: center;">Страницата не може да бъде показана, ако сте спрели изпълнението на JavaScript</h2>
  </noscript>

  <div id="root" ui-view="rootView">
  </div>

  <script type="text/javascript">
    window.user = {};
    window.user.username = '@(Model.Username)';
    window.user.userId = "@(Model.UserId)";
  </script>

  <script src="/app/bower_components/angular/angular.js"></script>
  <script src="/app/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="/app/bower_components/angular-resource/angular-resource.js"></script>
  <script src="/app/bower_components/angular-bootstrap/dist/ui-bootstrap-tpls-0.10.0-SNAPSHOT.js"></script>
  <script src="/app/bower_components/jquery/jquery.js"></script>
  <script src="/app/bower_components/bootstrap/js/collapse.js"></script>
  <script src="/app/bower_components/moment/moment.js"></script>
  <script src="/app/bower_components/angular-moment/angular-moment.js"></script>

  <script src="/app/js/app.js"></script>
  <script src="/app/js/directives/directives.js"></script>
  <script src="/app/js/directives/hirundo/hirundoDirective.js"></script>
  <script src="/app/js/directives/comments/commentsDirective.js"></script>
  <script src="/app/js/directives/whenScrolled/whenScrolledDirective.js"></script>
  <script src="/app/build/templates/directives.js"></script>

  <script src="/app/js/navigation/navigation.js"></script>
  <script src="/app/js/navigation/controllers/navbarCtrl.js"></script>
  <script src="/app/js/navigation/providers/navigationConfigProvider.js"></script>
  <script src="/app/build/templates/navigation.js"></script>

  <script src="/app/js/home/home.js"></script>
  <script src="/app/js/home/resources/user.js"></script>
  <script src="/app/js/home/resources/comment.js"></script>
  <script src="/app/js/home/controllers/homeCtrl.js"></script>
  <script src="/app/build/templates/home.js"></script>

</body>
</html>
