<div class="comment">
  <div class="modal-header">
    <h4>Share this with your followers?</h4>
  </div>
  <div class="modal-body">
    <img class="pull-left img-thumbnail" ng-src="{{commentData.authorImg}}">
    <strong>{{commentData.author}}</strong>
    <span am-time-ago="commentData.publishDate" class="pull-right timestamp"></span>
    <p>{{commentData.content}}</p>
    <div class="row" ng-show="commentData.image">
      <img ng-src="{{commentData.image}}" class="img-thumbnail comment-image"/>
    </div>
    <span class="location"> {{commentData.location}}</span>
  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-sm btn-primary" ng-click="ok()">Share</button>
  </div>
</div>
