<div class="user">
  <div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
    <h4>Profile summary</h4>
  </div>
  <div class="modal-body">
    <div class="data">
      <img class="img-thumbnail" ng-src="{{user.image}}">
      <h1>{{user.fullname}}</h1>
      <h2>{{user.username}}</h2>
    </div>
    <div class="details">
      <div class="list-group">
        <a href="#" class="list-group-item inline-item">
          <strong class="list-group-item-heading">{{user.commentsCount | number:0}}</strong><br />HIRUNDOS
        </a>
        <a href="#" class="list-group-item inline-item">
          <strong class="list-group-item-heading">{{user.followingCount | number:0}}</strong><br />FOLLOWING
        </a>
        <a href="#" class="list-group-item inline-item">
          <strong class="list-group-item-heading">{{user.followersCount | number:0}}</strong><br />FOLLOWERS
        </a>
      </div>
      <button class="btn btn-info btn-sm pull-right" ng-hide="user.userId === currentUserId || user.isFollowed">Follow</button>
      <button class="btn btn-info btn-sm pull-right" ng-show="user.isFollowed">Following</button>
    </div>
    <div class="user-comment" ng-repeat="comment in user.comments">
      <img class="pull-left img-thumbnail" ng-src="{{user.image}}">
      <div class="comment-data">
        <strong>{{user.username}}</strong>
        <span am-time-ago="comment.publishDate" class="pull-right timestamp"></span>
        <p>{{comment.content}}</p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a ng-click="fullProfile()" style="cursor: pointer;">Go to full profile</a>
  </div>
</div>
