<div class="container-medium page-content">
  <div class="row">
    <div class="col-xs-4 list-group card">
      <a href="#" class="list-group-item">
        <img ng-src="{{user.image}}" class="img-circle">
        <strong>{{user.fullname}}</strong>
      </a>
      <a href="#" class="list-group-item inline-item">
        <h4 class="list-group-item-heading"><span class="badge">{{user.commentsCount}}</span></h4>
        <span class="list-group-item-text">HIRUNDOS</span>
      </a>
      <a href="#" class="list-group-item inline-item">
        <h4 class="list-group-item-heading"><span class="badge">{{user.followingCount}}</span></h4>
        <span class="list-group-item-text">FOLLOWING</span>
      </a>
      <a href="#" class="list-group-item inline-item">
        <h4 class="list-group-item-heading"><span class="badge">{{user.followersCount}}</span></h4>
        <span class="list-group-item-text">FOLLOWERS</span>
      </a>
      <hd-hirundo class="list-group-item" model="hirundo" send="sendHirundo()"></hd-hirundo>
    </div>
    <div class="col-xs-8 timeline" hd-when-scrolled="loadMore()">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title"><b>Hirundos</b></h3>
        </div>
        <div class="panel-body list-group">
          <div class="list-group-item" ng-repeat="comment in comments">
            <img class="pull-left img-thumbnail" ng-src="{{comment.authorImg}}">
            <strong>{{comment.author}}</strong>
            <span am-time-ago="comment.publishDate" class="pull-right timestamp"></span>
            <p>{{comment.content}}</p>
            <div class="actions">
              <a href="#"><span class="glyphicon glyphicon-share-alt"></span> Reply</a>
              <a href="#" ng-hide="comment.authorId === user.userId"><span class="glyphicon glyphicon-retweet"></span> Retweet</a>
              <a href="#" ng-show="comment.authorId === user.userId"><span class="glyphicon glyphicon-trash"></span> Delete</a>
              <a href="#"><span class="glyphicon glyphicon-star"></span> Favorite</a>
            </div>
          </div>
          <img src="/app/img/initial-loader.gif" ng-show="pending" style="margin-left:auto;margin-right:auto;display:block;">
        </div>
      </div>
    </div>
  </div>
</div>