<div class="container-medium page-content">
  <img src="/app/img/loading.gif" ng-hide="loaded" class="loader" style="width: 80px;">
  <div class="row" ng-show="loaded">
    <div class="col-xs-4 list-group card">
      <a href="#" class="list-group-item">
        <img ng-src="{{user.image}}" class="img-circle">
        <strong>{{user.fullname}}</strong>
      </a>
      <a href="#" class="list-group-item inline-item">
        <h4 class="list-group-item-heading"><span class="badge">{{user.commentsCount}}</span></h4>
        <span class="list-group-item-text">HIRUNDOS</span>
      </a>
      <a href="#" class="list-group-item inline-item">
        <h4 class="list-group-item-heading"><span class="badge">{{user.followingCount}}</span></h4>
        <span class="list-group-item-text">FOLLOWING</span>
      </a>
      <a href="#" class="list-group-item inline-item">
        <h4 class="list-group-item-heading"><span class="badge">{{user.followersCount}}</span></h4>
        <span class="list-group-item-text">FOLLOWERS</span>
      </a>
      <hd-hirundo class="list-group-item" model="hirundo" rows="8" send="sendHirundo()" placeholder="Compose new hirundo..."></hd-hirundo>
    </div>
    <hd-comments category="Hirundos" model="comments" user-img="user.image"></hd-comments>
  </div>
</div>