<img src="/app/img/loading.gif" ng-hide="loaded" class="loader" style="width: 80px;">
<div class="container-medium page-content" ng-show="loaded">
  <div class="row">
    <div class="col-xs-4 list-group card">
      <a ui-sref="profile({ id: user.userId })" class="list-group-item">
        <img ng-src="{{user.image}}" class="img-circle">
        <div class="text">
          <strong>{{user.fullname}}</strong>
          <small>View my profile page</small>
        </div>
      </a>
      <a ui-sref="profile.hirundos({ id: user.userId })" class="list-group-item inline-item">
        <h4 class="list-group-item-heading"><span class="badge">{{user.commentsCount}}</span></h4>
        <span class="list-group-item-text">HIRUNDOS</span>
      </a>
      <a ui-sref="profile.following({ id: user.userId })" class="list-group-item inline-item">
        <h4 class="list-group-item-heading"><span class="badge">{{user.followingCount}}</span></h4>
        <span class="list-group-item-text">FOLLOWING</span>
      </a>
      <a ui-sref="profile.followers({ id: user.userId })" class="list-group-item inline-item">
        <h4 class="list-group-item-heading"><span class="badge">{{user.followersCount}}</span></h4>
        <span class="list-group-item-text">FOLLOWERS</span>
      </a>
      <hd-hirundo class="list-group-item" rows="8" send="sendHirundo(hirundo)" placeholder="Compose new hirundo..."></hd-hirundo>
    </div>
    <hd-comments ng-if="user" category="Timeline" resource="userTimeline" user="{{user.userId}}"></hd-comments>
  </div>
</div>